<!DOCTYPE html>
<html   xmlns = "http://www.w3.org/1999/xhtml"
        xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
        <h1>Design Your Taco</h1>
        <img th:src="@{/images/TacoCloud.png}"/>

        <form method="POST" th:object="${taco}">

            <div>
                <h3>Name your taco creation:</h3>
                <label for="name" >Taco Name</label>
                <input id="name" type="text" th:field="*{name}"/>
                <span class="validationError" th:if="${#fields.hasErrors('name')}"
                      th:errors="*{name}"> Taco name is invalid</span>
                <br/>
                <button>Submit Your Taco</button>
            </div>
        </form>

</body>
</html>